---
layout: default
script: /assets/script/makeown.js
permalink: /generator
minSize: 5
maxSize: 20
defaultSize: 12
---
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading" id="instructions">About and Instructions</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Changing size</h4>
                        <p>
                            The width and height can be changed using the two <code>dropdown boxes</code> in the options section.
                            Currently the minimum size is <code>{{ page.minSize }}</code> and the maximum size is <code>{{ page.maxSize }}</code>.
                            The default size is <code>{{ page.defaultSize }}</code>.
                            Size will not automatically update, you will have to click <code>generate</code> yourself for an update.
                        </p>
                        <hr>
                        <h4>Handling Words</h4>
                        <p>
                            To add words to the word list just type a new word in the <code>new word input box</code> located in the options section.
                            All words currently in the list are available in the <code>current word list section</code> under the <code>options section</code>
                            New words are not automaticly added to the generated output and you will have to click <code>generate</code> yourself.
                            To remove words from the current list just click the corresponding <code>X</code>.
                        </p>
                        <hr class="col-sm-6-hr">
                    </div>
                    <div class="col-sm-6">
                        <h4>Generated Output</h4>
                        <p>
                            To generate the word search click the <code>generate</code> button.
                            The algorithm has 5 attempts to place the word.
                            If it is unable to place a word then the <code>Missing words</code> section will appear.
                            Words can be placed in the following orientation <code>vertical</code>, <code>horizontal</code> and <code>diagonal</code>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="contentdown">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Options</div>
            <div class="panel-body">
                <div class="row form-group" id="heightOptions">
                    <div class="col-sm-6">
                        <label for="tableWidth">Width</label>
                        <select class="form-control" id="tableWidth">
                            {% for i in (page.minSize..page.maxSize) %}
                            <option {% if i == page.defaultSize %}selected="selected"{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="tableHeight">Height</label>
                        <select class="form-control" id="tableHeight">
                            {% for i in (page.minSize..page.maxSize) %}
                            <option {% if i == page.defaultSize %}selected="selected"{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default" id="generate">Generate</button>
                    </div>
                </div>
                <hr>
                <form id="addword">
                    <div class="form-group">
                        <label for="word">New Word:</label>
                        <input type="text" class="form-control" id="word">
                        <span class="help-block" style="display: none;">You can only enter letters</span>
                    </div>
                    <button type="submit" class="btn btn-default">Add Word</button>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Current Word List</div>
            <div class="panel-body word-list" id="word-list">
                <ul class="list-group">
                    <li class="list-group-item disabled">List Empty</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6" id="output">
        <div class="panel panel-default">
            <div class="panel-heading">Word Search Output</div>
            <div class="panel-body">
                <table class="table table-bordered" id="search-output">
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-warning" id="missing-words" style="display:none;">
            <div class="panel-heading">Unable to place words!</div>
            <div class="panel-body word-list">
                <ul class="list-group"></ul>
            </div>
        </div>
    </div>
</div>
