---
layout: default
script: /assets/script/game.js
minSize: 5
maxSize: 20
defaultSize: 12
maxWordsDefault: 10
maxWordsMax: 20
---
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading" id="instructions">About and Instructions</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Changing size</h4>
                        <p>
                            The width and height can be changed using the two <code>dropdown boxes</code> in the options section.
                            Currently the minimum size is <code>{{ page.minSize }}</code> and the maximum size is <code>{{ page.maxSize }}</code>.
                            The default size is <code>{{ page.defaultSize }}</code>.
                            Size will not automatically update, you will have to click <code>generate</code> yourself for an update.
                        </p>
                        <hr>
                        <h4>Handling Words</h4>
                        <p>
                            In this mode, words cannot be manually entered to be part of the game. However they are seleced at random from a list.
                            The maximum number of words to be concidered to be part of the game is set in options.
                            Currently the defualt max words is <code>{{ page.maxWordsDefault }}</code> and the highest value of the option is <code>{{ page.maxWordsMax}}</code>
                        </p>
                        <hr class="col-sm-6-hr">
                    </div>
                    <div class="col-sm-6">
                        <h4>Selecting a Word</h4>
                        <p>
                            This section is currently in development
                        </p>
                        <!-- TODO: Update this panel -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="contentdown">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Options</div>
            <div class="panel-body">
                <div class="row form-group" id="heightOptions">
                    <div class="col-sm-6">
                        <label for="tableWidth">Width</label>
                        <select class="form-control" id="tableWidth">
                            {% for i in (page.minSize..page.maxSize) %}
                            <option {% if i == page.defaultSize %}selected="selected"{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="tableHeight">Height</label>
                        <select class="form-control" id="tableHeight">
                            {% for i in (page.minSize..page.maxSize) %}
                            <option {% if i == page.defaultSize %}selected="selected"{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <form class="form-group">
                            <label for="maxWords">Maximum No. Words</label>
                            <input type="number" class="form-control" id="maxWords" min="0" value="{{ page.maxWordsDefault }}" max="{{ page.maxWordsMax }}"></input>
                        </form>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default" id="generate">Generate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8" id="output">
        <div class="panel panel-default">
            <div class="panel-heading">Word Search Output</div>
            <div class="panel-body">
                <table class="table table-bordered unselectable" id="search-output">
                    <tbody class="notgame">
                        {% for y in (1..page.defaultSize) %}
                        <tr>
                            {% for x in (1..page.defaultSize) %}
                            <td></td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Current Word List</div>
            <div class="panel-body word-list" id="word-list">
                <ul class="list-group">
                    <li class="list-group-item disabled">List Empty</li>
                </ul>
            </div>
        </div>
    </div>
</div>
