<div class="jumbotron footer">
    <div class="container text-center">
        <div class="row">
            <h5>
                Source on <a href="https://github.com/roryclaasen/word-search-generator/">GitHub</a>
            </h5>
        </div>
        <div class="row">
            <h4>
                <a href="https://github.com/roryclaasen/word-search-generator/blob/master/LICENSE">MIT License</a>
                &copy; Rory Claasen 2017
            </h4>
        </div>
    </div>
</div>
<!-- End of Footer -->
