---
import Card from '~components/Card.astro';
import GameGrid from '~components/GameGrid';
import GenerateGame from '~components/GenerateGame';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Word Search Generator">
    <main class="container mx-auto">
        <div class="flex">
            <Card>
                <GenerateGame client:load />
            </Card>
            <Card>
                <GameGrid client:load />
            </Card>
        </div>
    </main>
</Layout>
