---
import Card from '~components/Card.astro';
import GameGrid from '~components/GameGrid';
import GenerateGame from '~components/GenerateGame';
import Hero from '~components/Hero.astro';
import WordList from '~components/WordList';
import Layout from '~layouts/Layout.astro';
---

<Layout title="Word Search Generator">
    <Hero title="Word Search Generator">
        <a
            href="https://github.com/roryclaasen/word-search-generator"
            class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Source Code</a
        >
    </Hero>
    <div class="w-full mt-3">
        <main class="container mx-auto">
            <Card class="mb-3" slotClass="grid grid-cols-none md:grid-cols-2 gap-3" title="About and Instructions">
                <div>
                    <h4 class="mb-2 font-medium">Changing size</h4>
                    <p>
                        The width and height can be changed using the two dropdown boxes in the options section. Currently the minimum size is 5 and the maximum size is 20. The
                        default size is 12. Size will not automatically update, you will have to click generate yourself for an update.
                    </p>
                </div>
                <div>
                    <h4 class="mb-2 font-medium">Handling Words</h4>
                    <p>
                        To add words to the word list just type a new word in the new word input box located in the options section. All words currently in the list are available
                        in the current word list section under the options section New words are not automaticly added to the generated output and you will have to click generate
                        yourself. To remove words from the current list just click the corresponding X.
                    </p>
                </div>
                <div>
                    <h4 class="mb-2 font-medium">Generated Output</h4>
                    <p>
                        To generate the word search click the generate button. The algorithm has 1000 attempts to place the word. Words can be placed in the following orientations
                        vertical, horizontal and diagonal. There are options to disable placing words diagonally as well as to disable placing words backwards.
                    </p>
                </div>
            </Card>
            <div class="flex flex-col md:flex-row items-center md:items-start">
                <Card class="min-w-fit w-full md:max-w-lg mb-3 md:mr-3" title="Options">
                    <GenerateGame client:only="solid-js" />
                </Card>
                <Card title="Word List" class="min-w-fit w-full md:max-w-lg mb-3 md:mr-3 max-h-screen overflow-y-auto" stickyTitle>
                    <WordList client:load />
                </Card>
                <Card class="min-w-fit w-full sm:w-fit mb-3" slotClass="mx-auto" title="Word Search Output">
                    <GameGrid client:load />
                </Card>
            </div>
        </main>
    </div>
</Layout>
