---
import classNames from 'classNames';

interface Props {
    class?: string;
    title?: string;
    slotClass?: string;
}

const { class: cardName, slotClass, title } = Astro.props;
---

<div class={classNames('bg-stone-100 flex flex-col sm:rounded shadow p-3', cardName)}>
    {
        title && (
            <div class="pb-3 mb-3 border-b-2 border-stone-200">
                <h3 class="text-lg font-medium">{title}</h3>
            </div>
        )
    }
    <div class={classNames('flex', slotClass)}>
        <slot />
    </div>
</div>
