---
// eslint-disable-next-line @typescript-eslint/no-unused-vars
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<div class="w-full bg-stone-100 p-6 md:p-12 md:pb-6 lg:pb-12 lg:p-20 flex flex-col items-center text-base md:text-lg">
    <div class="mb-3 md:mb-6 lg:mb-12">
        <h1 class="font-medium text-3xl md:text-5xl lg:text-6xl">{title}</h1>
    </div>
    <div>
        <slot />
    </div>
</div>
